@{
    ViewData["Title"] = "Home Page";
}

<div >
    <b>Task 1:</b><br />
    @ViewBag.HelloMessage<br><br />
    <b>Task 2:</b><br>
    Number 1: @ViewBag.num1<br />
    Number 2: @ViewBag.num2<br />
    Sum: @ViewBag.sum<br /><br />
    <b>Task 3:</b><br />
</div>
