@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <br />
    <a asp-area="" asp-controller="Customer" asp-action="Create">Create New Customer</a><br />
    <a asp-area="" asp-controller="Product" asp-action="Create">Create New Product</a><br />
    <a asp-area="" asp-controller="Order" asp-action="Create">Create New Orders</a><br />
    <a asp-area="" asp-controller="Order" asp-action="Index">View All Orders</a><br />
</div>
